{% extends 'vacaciones/base.html' %}

{% block contenido %}
{% if user.is_authenticated %}
    <a href="{% url 'vacaciones-crear' %}">Crear Post</a>
    <a href="{% url 'vacaciones-avatars-actualizar' user.id %}">Actualizar Avatar</a>
    <a href="{% url 'vacaciones-users-actualizar' user.id %}">Actualizar Profile</a>
    <a href="{% url 'vacaciones-mensajes-listar' user.id %}">Mensajes</a>
{% endif %}
<ul>
{% for post in object_list %}
    <li>
        {{post.publicado_el}} - - {{post.titulo}}
        {% if user.is_authenticated %}
            <a href="{% url 'vacaciones-borrar' post.id %}">Borrar</a>
            <a href="{% url 'vacaciones-actualizar' post.id %}">Actualizar</a>  
        {% endif %}
        <a href="{% url 'vacaciones-detalle' post.id %}">Ver</a>    
    </li>
{% endfor %}
<ul>
{% endblock %}